# Tutorial Assignment
Students are required to perform data cleaning, data preprocessing, and data visualisation on the given dataset using Python. The assignment also includes an optional Linear Regression model for bonus marks.

Tasks include:

- Understanding and cleaning the dataset
- Handling missing values and preprocessing data
- Creating meaningful visualisations
- (Bonus) Building and evaluating a Linear Regression model

Submission: Jupyter Notebook (.ipynb)

Deadline: 26th Jan, 2026

Tools: Python, Pandas, Matplotlib/Seaborn, Scikit-learn

Ensure your notebook is well-commented and includes brief explanations for each step.

I am building this notebook as a template for future code so that I don't need to keep rewriting the same code, but can have a quick start.

In [22]:
# @title Data Loading

# All imports in one location
from google.colab import drive
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Connecting Drive data
# Dropping data into drive and then connecting here
# When reusing this code, update the location and file name
drive.mount('/content/drive')
project_path = "/content/drive/MyDrive/Automobile.csv"

# Labeling the data frame from the csv in Drive
# if using multiple files, I will need multiple df_... names
# and that should be updated here
df = pd.read_csv(project_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
# @title Understanding the Data

# Showing head, tail, shape, columns, dTypes, info, and describe for the data
print("\nDF Head")
print(df.head())

print("\nDF Tail")
print(df.tail())

print("\nDF Shape")
print(df.shape)

print("\nDF Columns")
print(df.columns)

print("\nDF dTypes")
print(df.dtypes)

print("\nDF Info")
print(df.info())

print("\nDF Describe")
print(df.describe())

DF Head
                        name   mpg  cylinders  displacement  horsepower  \
0  chevrolet chevelle malibu  18.0          8         307.0       130.0
1          buick skylark 320  15.0          8         350.0       165.0
2         plymouth satellite  18.0          8         318.0       150.0
3              amc rebel sst  16.0          8         304.0       150.0
4                ford torino  17.0          8         302.0       140.0

   weight  acceleration  model_year origin
0    3504          12.0          70    usa
1    3693          11.5          70    usa
2    3436          11.0          70    usa
3    3433          12.0          70    usa
4    3449          10.5          70    usa

DF Tail
                name   mpg  cylinders  displacement  horsepower  weight  \
393  ford mustang gl  27.0          4         140.0        86.0    2790
394        vw pickup  44.0          4          97.0        52.0    2130
395    dodge rampage  32.0          4         135.0        84.0    2295
396      ford ranger  28.0          4         120.0        79.0    2625
397       chevy s-10  31.0          4         119.0        82.0    2720

     acceleration  model_year  origin
393          15.6          82     usa
394          24.6          82  europe
395          11.6          82     usa
396          18.6          82     usa
397          19.4          82     usa

DF Shape
(398, 9)

DF Columns
Index(['name', 'mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin'],
      dtype='object')

DF dTypes
name             object
mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
dtype: object

DF Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           398 non-null    float64
 2   cylinders     398 non-null    int64
 3   displacement  398 non-null    float64
 4   horsepower    392 non-null    float64
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model_year    398 non-null    int64
 8   origin        398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

DF Describe
              mpg   cylinders  displacement  horsepower       weight  \
count  398.000000  398.000000    398.000000  392.000000   398.000000
mean    23.514573    5.454774    193.425879  104.469388  2970.424623
std      7.815984    1.701004    104.269838   38.491160   846.841774
min      9.000000    3.000000     68.000000   46.000000  1613.000000
25%     17.500000    4.000000    104.250000   75.000000  2223.750000
50%     23.000000    4.000000    148.500000   93.500000  2803.500000
75%     29.000000    8.000000    262.000000  126.000000  3608.000000
max     46.600000    8.000000    455.000000  230.000000  5140.000000

       acceleration  model_year
count    398.000000  398.000000
mean      15.568090   76.010050
std        2.757689    3.697627
min        8.000000   70.000000
25%       13.825000   73.000000
50%       15.500000   76.000000
75%       17.175000   79.000000
max       24.800000   82.000000

In [19]:
# @title Data Cleaning

print("Pre Cleaning Null/Dupe Check")
print(df.isnull().sum())
df = df.dropna()
df = df.drop_duplicates()

print("\nPost Cleaning Null/Dupe Drop")
print(df.isnull().sum())

Pre Cleaning Null/Dupe Check
name            0
mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

Post Cleaning Null/Dupe Drop
name            0
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [20]:
# @title Fix Columns - if needed

# I don't think anything is needed for this dataset
# But I am going to leave this portion so that I can use this
# as a template for future code and don't have to keep
# rebuilding this stuff each time

#Correct incorrect data types
# df['column_name'] = pd.to_datetime(df['column_name'])
print("No change to data types")

#Rename columns for clarity
# df = df.rename(coluns={old_name': 'new_name'})

print("No changes to column names")

No change to data types
No changes to column names

In [21]:
# @title Data Preprocessing

# Encoding categorical variables: category, object, bool
df = pd.get_dummies(df, columns=['name','origin'])

# Scaling
scaler = StandardScaler()
df[['scaled_column']] = scaler.fit_transform(df[['column_to_scale']])